---
---

$primary: #cc0000;
$size: 20px;

@mixin border($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}


p#redParagraph {
	color:$primary;
	font-size: $size + 40;
	padding: 50px;
	background-color: blue;
	@include border(10px);

	a {
	color: $primary;
	font-weight: bold;
	}	 
}

.blueParagraph {
	color: blue;
	font-size: 50px;
}

//Baby Names CSS ///////////////////////////////////////////////////////////////////////////////////////////////
#controls {
	background-color: #F7F4DC;
	display: block;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	width:200px;
}

body {
		background-color: #F7F4DC;

}

.babyNames {
	width: 1215px;
	height: 750px;
	margin-left: 205px;
	background-color: #F7F4DC;


}

#gender_dropdown {
	position: absolute;
	top:30px;
	margin-left:30px;
}


input.genderButton[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family: 'Doppio One', sans-serif;
}

input.genderButton[type=text]:focus {
    border-color:#333;
    font-family: 'Doppio One', sans-serif;
}

input.genderButton[type=submit] {
    padding:5px 8px; 
    border:0 none;
    cursor:pointer;
    height: 30px;
    font-family: 'Doppio One', sans-serif;
}

input.genderButton[value="GIRLS"]{
	background-color: pink;
	font-family: 'Doppio One', sans-serif;
}
input.genderButton[value="BOYS"]{
	background-color: cornflowerblue;
	font-family: 'Doppio One', sans-serif;
}
input.genderButton[value="ALL"]{
	background-color: #f1e974;
	font-family: 'Doppio One', sans-serif;
}

input.nameTextBox[type=text]{
	font-family: 'Doppio One', sans-serif;
	// height: 20px;
	padding: 10px;
}

#genderButtons {
	position: absolute;
	top: 100px;
	margin-left: 30px;
}

.genderButton:hover {
	opacity: .85;
}

#year_dropdown {
	position: absolute;
	top:55px;
	margin-left:30px;
}

#year_slider {
	position: absolute;
	top: 170px;
	margin-left: 30px;
}

input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	width: 10px;
	height: 400px;
	margin-top: 10px;
}

#yearLabel {
font-family: 'Doppio One', sans-serif;	font-weight: medium;
	font-size: 13px;
}


#year {
font-family: 'Doppio One', sans-serif;	font-weight: bold;
	font-size: 58px;
	}

#nameTextBox {
	position: absolute;
	top: 45px;
	margin-left: 30px;
}

.modalDialog {
	position: absolute;
	font-family: 'Doppio One', sans-serif;	// width: 150px;
	// height: 70px;
	background: #EDEFF0;
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	opacity: 0;
	pointer-events: none;
	padding: 15px;
	text-align: left;
	box-shadow: 2px 2px 5px #666;
}

.modalDialog.open {
	opacity: 0.85;

}

.close {
	// background: #606061;
	color: #999;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;


}


.modalDialog h2 {
	color: #4E4E4E;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Doppio One', sans-serif;

}

.modalDialog h3 {
	color: #4E4E4E;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 0px;
	font-family: 'Doppio One', sans-serif;
}

#middleChild {
	font-family: 'Doppio One', sans-serif;
	position: absolute;
	top: 40px;
	left: 240px;
	opacity: 0;	
}

#middleChild h2 {
	margin: 0;
}

#middleChild.visible {
	opacity: 1;
}

*:focus {
    outline: none;
}

