---
---

$primary: #cc0000;
$size: 20px;

@mixin border($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}


p#redParagraph {
	color:$primary;
	font-size: $size + 40;
	padding: 50px;
	background-color: blue;
	@include border(10px);

	a {
	color: $primary;
	font-weight: bold;
	}	 
}

.blueParagraph {
	color: blue;
	font-size: 50px;
}

//Baby Names CSS ///////////////////////////////////////////////////////////////////////////////////////////////
#controls {
	//background-color: #333;
	background-color: #F7F4DC;
	display: block;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	width:200px;
}

body {
		background-color: #F7F4DC;
		margin: 0;

}

.babyNames {
	width: 100%;
	height: 100%;
	//padding-left: 200px;
	background-color: #F7F4DC;
	// right: 0%;
	// padding-left: 19%;



}

#gender_dropdown {
	position: absolute;
	top:30px;
	margin-left:30px;
}


// input.genderButton[type=text] {
//     padding:5px; 
//     border:2px solid #ccc; 
//     -webkit-border-radius: 0px;
//     border-radius: 0px;
//     font-family: 'Doppio One', sans-serif;
//     color: #4F4F4F;
// }

// input.genderButton[type=text]:focus {
//     border-color:#333;
//     font-family: 'Doppio One', sans-serif;
// }

.genderButton {
    padding:5px 8px; 
    border:0 none;
    cursor:pointer;
    height: 30px;
    font-family: 'Doppio One', sans-serif;
}

.genderButton[value="GIRLS"]{
	background-color: pink;
	font-family: 'Doppio One', sans-serif;
	color: #333;
}
.genderButton[value="BOYS"]{
	background-color: cornflowerblue;
	font-family: 'Doppio One', sans-serif;
	color: #333;
}
.genderButton[value="ALL"]{
	background-color: #f1e974;
	font-family: 'Doppio One', sans-serif;
	color: #333;
}

.nameTextBox[type=text]{
	font-family: 'Doppio One', sans-serif;
	// height: 20px;
	padding: 10px 0px 3px 0px;
	font-size: 19.2px;
	width: 135px;
	border: 0px solid #FCD700;
	border-bottom: thin solid #4F4F4F;
	color: #4F4F4F;
	background-color: transparent;
}

#nameTextBox {
	position: absolute;
	top: 6%;
	margin-left: 30px;
}

::-webkit-input-placeholder {
   color: #4F4F4F;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4F4F4F;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4F4F4F;  
}

:-ms-input-placeholder {  
   color: #4F4F4F;  
}

#genderButtons {
	position: absolute;
	top: 16%;
	margin-left: 30px;
}

.genderButton:hover {
	opacity: .85;
}


#year_dropdown {
	position: absolute;
	top:55px;
	margin-left:30px;
}

#year_slider {
	position: absolute;
	top: 25%;
	margin-left: 30px;
}




input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	width: 10px;
	height: 400px;
	margin-top: 10px;
	
}

#yearLabel {
	font-family: 'Doppio One', sans-serif;	font-weight: medium;
	font-size: 13px;
	color: #4F4F4F;
}


#year {
	font-family: 'Doppio One', sans-serif;	font-weight: bold;
	font-size: 58px;
	color: #4F4F4F;
}



.modalDialog {
	position: absolute;
	font-family: 'Doppio One', sans-serif;	// width: 150px;
	// height: 70px;
	background: #EDEFF0;
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	opacity: 0;
	pointer-events: none;
	padding: 15px;
	text-align: left;
	box-shadow: 2px 2px 5px #666;
}

.modalDialog.open {
	opacity: 0.85;

}

.close {
	// background: #606061;
	color: #999;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;


}


.modalDialog h2 {
	color: #4E4E4E;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Doppio One', sans-serif;

}

.modalDialog h3 {
	color: #4E4E4E;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 0px;
	font-family: 'Doppio One', sans-serif;
}

#middleChild {
	font-family: 'Doppio One', sans-serif;
	position: absolute;
	top: 40px;
	left: 240px;
	opacity: 0;	
}

#middleChild h2 {
	margin: 0;
}

#middleChild.visible {
	opacity: 1;
}

.genderButton.active {
	border: 1px solid #4F4F4F;
}


#genderAll {
	border: 1px solid #F7F4DC;
}

#genderFemale {
	border: 1px solid #F7F4DC;
}

#genderMale {
	border: 1px solid #F7F4DC;
}

*:focus {
    outline: none;
}

